*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    letter-spacing: 1px;
}
nav{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 15%;
    justify-content: space-between;
}
nav.fixed {
    box-shadow: 0 4px 4px rgba(0,0,0,.3);
  }

nav ul{
    display: flex;
    justify-content: space-evenly;
}
.principal-left{
    width: 50%;
    
}
.principal-right{
    width: 50%;
    
}
