*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    /* display: none; */
}


nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background: gray;
}
main{
    background: url("img/background.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
    transition: .3s;
}

@media(max-width: 999px){
    body{
        overflow-x: hidden ;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 30vw;
        height: 50vh;
        background: rgb(104, 104, 104);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .mobile-menu{
        display: block;

    }
   
}

@media(max-width: 430px){
    .logo{
        display: none;
    }

}
.nav-list.active{
    transform: translateX(0) ;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);

    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

main section{
    height: 92vh;
}

